.DS_Store
node_modules
*.monopic
/.vscode/launch.json
/ExtendScript/launch.json
/NodeJS/deploy-output/deploy-err.log
/NodeJS/deploy-output/deploy-out.log
/NodeJS/transcode_err.log
/NodeJS/transcode_out.log
/NodeJS/deploy-output/test-cmd.txt
/NodeJS/deploy-output/registered-events.txt
/NodeJS/deploy-output/dependencies.js